  <body class="top-clouds">

    <div class="container mt-4">
        <h1>Precios</h1>
        <br>
        <div class="row cloud-plans">
                <div class="col">
                    <h2>Free</h2>
                    <div>Ideal for hobbyists</div>
                    <div class="price"><span>$0</span></div>
                    <div class="description">Build the API for your MVP</div>
                    <ul>
                        <li>GraphQL &amp; REST API</li>
                        <li>Managed Service</li>
                        <li>Runs in Cloud</li>
                        <li>subzero.cloud subdomain</li>
                        <li>1 mln requests/day (10 req/s)</li>
                        <li>max 100 rows/response</li>
                    </ul>
                    <div class="action"><a href="https://app.subzero.cloud/signup" class="btn btn-success" role="button" aria-pressed="true">Get a Free Account</a></div>
                </div>
                <div class="col middle">

                    <h2>Standard</h2>
                    <div>For small projects</div>
                    <div class="price"><span>$10</span> / month</div>
                    <div class="description">Everything you need to build an API for your mobile app</div>
                    <ul>
                        <li>GraphQL &amp; REST API</li>
                        <li>Managed Service</li>
                        <li>Runs in Cloud</li>
                        <li>subzero.cloud subdomain</li>
                        <li>10 mln requests/day (100 req/s)</li>
                        <li>unlimited rows/response</li>
                    </ul>
                    <div class="action"><a href="https://app.subzero.cloud/signup" class="btn btn-success" role="button" aria-pressed="true">Start 30-day Trial</a></div>
                </div>
                <div class="col ">

                    <h2>Professional</h2>
                    <div>Designed for growing businesses</div>
                    <div class="price"><span>$20</span> / month</div>
                    <div class="description">Fully managed hosting of your API and frontend</div>
                    <ul>
                        <li>GraphQL &amp; REST API</li>
                        <li>Managed Service</li>
                        <li>Runs in Cloud</li>
                        <li>custom domain</li>
                        <li>30 mln requests/day (300 req/s)</li>
                        <li>unlimited rows/response</li>
                        <li>custom openresty image</li>
                        <li>frontend hosting</li>
                        <li>database event streaming</li>

                    </ul>
                    <div class="action"><a href="https://app.subzero.cloud/signup" class="btn btn-success" role="button" aria-pressed="true">Start 30-day Trial</a></div>
                </div>

        </div>
        <div class="row premise-plans" style="display: none;">
            <div class="col">&nbsp;</div>
            <div class="col">

                <h2>On Premise</h2>
                <div>When you need full control</div>
                <div class="price"><span>$250</span> / API</div>
                <div class="description">Your business made it and you need to scale fast</div>
                <ul>
                    <li>GraphQL &amp; REST API</li>
                    <li>Self-managed</li>
                    <li>Binary &amp; container distributions</li>
                    <li>Runs on your infrastructure</li>
                    <li>custom domain</li>
                    <li>custom openresty image</li>
                    <li>frontend hosting</li>
                    <li>database event streaming</li>
                    <li>1 year free upgrades</li>
                </ul>
                <div class="action"><a href="https://app.subzero.cloud/signup" class="btn btn-success" role="button" aria-pressed="true">Signup</a></div>
            </div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <br><br>
    <div class="container faq">
      <h2>Frequently Asked Questions</h2>
        <br>
      <h4>Do I need a credit card to sign up?</h4>
      <p>No. You'll only need it if you chose to upgrade to one of paid plans.</p>

      <h4>Why is there no trial for On Premise plan?</h4>
      <p>That is because you can test all the features of the plan by using our development images that we provide for <a href="https://docs.subzero.cloud/installation/">local development</a>. The images a limited to only one database connection.</p>

      <h4>What does $250/API mean for the On Premise plan?</h4>
      <p>It means that you pay a one time fee for the subzero stack and you can deploy wherever you chose and scale as big as you need. The only condition is that it's used for a single production deployment/project/database/api.</p>

      <h4>Can I use the On Premise code after one year?</h4>
      <p>Yes. You can use the stack indefinitely, the only limitation is you get version upgrades and commercial support in the first year only.</p>

      <h4>Can I ship my app that uses On Premise plan to my clients?</h4>
      <p>No. On Premise plan means you can deploy it only in one production location (staging does not count). Your clients will need to purchase a new license. If your service is a type of SaaS business, that counts as a single location, even though you might run multiple container instances for scaling.</p>
  </div>
<br>
    <footer class="text-center">
      <div class="container">
      <div class="row">
        <div class="col">
          <p>
            © 2019 subZero LLC
          </p>
        </div>
        <!--
        <div class="col-3">
            <ul class="">
                <li><a href="https://subzero.cloud/">Home</a></li>
                <li><a href="https://docs.subzero.cloud/">Documentation</a></li>
                <li><a href="https://demo.subzero.cloud/">Demo</a></li>
                <li><a href="https://github.com/subzerocloud">GitHub</a></li>
              </ul>
        </div>
        <div class="col-3">
            <ul class="">
                <li><a href="https://app.subzero.cloud/">Go to App</a></li>
                <li><a href="https://subzero.cloud/pricing.html">Pricing</a></li>
                <li><a href="https://subzero.cloud/contact.html">Contact</a></li>
                <li><a href="https://slack.subzero.cloud/">Slack Channel</a></li>
              </ul>
        </div>
        -->
      </div>
      </div>
    </footer>


<!--
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79996734-1', 'auto');
    ga('send', 'pageview');

  </script>
  -->
</body>



<!--
<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Ez'Back</h1>
            <h3 class="mb-5">
                <em>Un Backend a tu alcanze</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Iniciemos
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>
-->